<div class="logo">
	<h1>Time Tracker </h1>

</div>
<% if current_user %>
  <ul class="nav nav-tabs custom-nav">
    <li class="nav-item <%= active?(root_path) %>">
     <%= link_to "", root_path, class: 'glyphicon glyphicon-home' %>
    </li>
        <%= render 'shared/audit_log_tab' if admin? %>
        <%= render 'shared/employee_nav_items' if employee? %>
        <li class="nav-item dropdown pull-right">
       <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Options</a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <div class="dropdown-divider">
          <%= render 'shared/admin_dropdown' if admin? %>
        </div> 
            <%= link_to "Logout", destroy_user_session_path , method: :delete %>
      </div>
    </li>
  </ul>
<% end %>
